html{
    background-color: black;
    text-align: center;
}
div.table{
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 100vh;
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}
div.table.produto{
    grid-template-columns: 4fr;
}

div.container{
    background-image:url(1920xblue_bk.webp);
    background-size: contain;
    display: flex;
    flex-basis: content;
    flex-direction: column;
    border: 7px solid antiquewhite;
    text-align: inherit;
    
}
div.column2{
    background-image: url(200x800_blue.webp);
    background-size: cover;
}
div.link{
    margin-top: auto;
    
}

h1{
    text-align: center;
}
form{
    
   margin-left: auto;
   margin-right: auto;
}

div.form_div{
    margin-bottom: 1rem;
   
}

input{
    border-radius: 20px;
    background-color: rgb(171, 216, 255);
    color: rgb(182, 120, 4);
    font-size: calc(1.4rem - 0.5rem);
}

input:focus{
    background-color: rgb(73, 133, 245);
    
}

button{
    color: inherit;
    background-color: blue;
    width: 100px;
    border-radius: 20px;
}

button:hover{
    background-color: rgb(73, 133, 245);
}

a{
    font-style: normal;
    color: inherit;
}
a:hover{
    color: aquamarine;
}
a:visited{
    color: blueviolet;
}

td{
    border: 5px outset antiquewhite;
}

img.pp{
    max-width: 35px;
}
@media (max-width:650px){
    div.table{
        grid-template-columns: 1fr;
        font-size: 0.8rem;
    }
    div.column2{
       
        display: none;
    }
    form{
        margin: 0;
        margin-left: 0.5rem;
        
     }
     input{
         max-width: 40vw;
     }
}