<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="../static/style/style.css">
    <title>Cadastro</title>
</head>
<body>
<div class="table">
    <div class="container">
        <h1>Cadastre-se</h1>
        <form th:object="${pessoa}" th:action="@{/save_pessoa}"  th:method="POST">
            <div class="form_div">
                <label for="nome" class="form">Nome completo:</label>
                <input type="text" th:field="*{nome}" id="nome" required>
        
            </div>
            <div class="form_div">
                <label for="email" class="form">Email:</label>
                <input type="email" th:field="*{email}" id="email" required>
        
            </div>
            <div class="form_div">
                <label for="senha" class="form">Senha: </label>
                <input type="password" th:field="*{senha}" id="senha" required>
            </div>
        
            <button type="submit">Cadastrar</button>
        </form>
    </div>
    <div class="column2"></div>
</div>


</body>
</html>